<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Fiscal power:</strong>
  <%= @car.fiscal_power %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @car.vehicle_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @car.user_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @car.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @car.updated_at %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
